body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.cell {
    font-family: sans-serif;
    font-size: larger;
    font-weight: bolder;
    background-color: beige;
    width: 100px;
    height: 100px;
    border: 1px solid black;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell:hover {
    background-color: wheat;
}

.cell-selected {
    background-color: rgb(0, 191, 255);
}

.row {
    display: flex;
}

#reset {
    margin-top: 20px;
    padding: 10px 20px;
    border-radius: 12px;
    background-color: #0003c4;
    color: white;
    border: none;
    cursor: pointer;
}
#reset:hover{
    background-color: skyblue;
    color: #0003c4;
    transition: 0.5s;
}
#Instruction{
    color: red;
    margin-bottom: 0.3px;
}
#Instruction2 {
    display: inline-block; /* This makes the table behave like a block */
    border-collapse: collapse; /* Remove spacing between table cells */
    margin-bottom: 10px;
}

#Instruction2 td {
    width: 23px; /* Adjust the width of each cell as needed */
    height: 23px; /* Adjust the height of each cell as needed */
    text-align: center;
    border: 1px solid black; /* Add borders around table cells */
    
}
#turn{
    margin-bottom: 1px;
    margin-top: 2px;
}