@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
head, body{
    font-family: 'Playfair Display', serif;
    color: #21243D;
    text-align: center;
}
h1, h2, h3, h4, h5, h6{
font-size: 32px;
text-align: center;
font-style: normal;
font-weight: 700;
line-height: 40px;
margin-bottom: 12px;
padding: 4px;
}
p{
font-size: 16px;
text-align: center;
font-style: normal;
font-weight: 400;
line-height: normal; 
margin: 8px; 
}
a{
color: black;
font-size: 20px;
font-style: normal;
font-weight: 500;
line-height: normal;
}
table{
    margin: 0 auto;
}

footer p{
    font-size:12px;
    
}
section img{
    width: 120px;
    height: 120px;
    border-radius: 180px;
}
header a {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    font-size: small;
}
input:hover {
    background-color: skyblue;    
}
input{
    transition: background-color 1s ease;
}

li {
        display: inline-block;
}

nav {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
}

nav img {
    display:flex;
    transition: opacity 0.3s;
}

nav:hover img {
    display:flex;
}

nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

nav ul li {
    opacity: 0;
    transition: opacity 0.3s ease, transform 0.3s ease;
}

nav:hover ul li:nth-child(1) {
    transition-delay: 0.3s;
    opacity: 1;
}

nav:hover ul li:nth-child(2) {
    transition-delay: 0.6s;
    opacity: 1;
}

nav:hover ul li:nth-child(3) {
    transition-delay: 0.9s;
    opacity: 1;
}
nav:hover ul li:nth-child(4) {
    transition-delay: 1.2s;
    opacity: 1;
}
footer{
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
}
aside {
    position: absolute;
    bottom: 0;
    right: 0; 
    display: block;
}
.wmImg{
    position: relative;
    display: inline-block;
}

.wm {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px; /* Adjust padding as needed */
    font-size: 18px; /* Adjust font size as needed */
    color: rgba(255, 255, 255, 0.5);; /* Adjust text color */
    pointer-events: none; /* Prevent interaction with the watermark */
    z-index: 1; /* Place the watermark on top of the image */
}

.title {
    display: inline-block;
    vertical-align: middle;
    }
.date{
    font-size: 12px;
    display: inline-block;
}
.cat{
    position: absolute;
    top: 0;
    left: 0; 
    font-size: 24px;
    margin-bottom: 5px;
}
.cat img{
    width: 90px;
    height: 90px;
    border-radius: 64px;
}